.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.white-block {
  position: absolute;
  height: 40px;
  width: 60%;
  background-color: white;
}

.white-block-left {
  bottom: 0;
  left: -50px;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
}

.white-block-right {
  top: 0;
  right: -50px;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
}

.btn-special-animation {
  position: relative;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  overflow: hidden;
  z-index: 0;
}

.btn-special-animation::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  z-index: -1;
}

.btn-special-animation:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  height: 75vh;
  text-align: center;
  color: #683413;
  background-attachment: scroll;
}

.section-heading {
  position: relative;
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: #683413;
  letter-spacing: 1.3px;
}

.section-padding {
  padding: 6rem 2rem;
}

@media (min-width: 768px) {
  .section-heading {
    font-size: 3.6rem;
  }
  .section-padding {
    padding: 8rem 2rem;
  }
}

@media (min-width: 992px) {
  .section-heading {
    font-size: 4.8rem;
  }
  .section-padding {
    padding: 10rem 2rem;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

.burger-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 1rem;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 1000;
}

.burger-btn:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}

.burger-btn:hover .burger-btn__bars::after,
.burger-btn:hover .burger-btn__bars::before {
  width: 100%;
}

.burger-btn__box {
  position: relative;
  width: 40px;
  height: 30px;
}

.burger-btn__bars, .burger-btn__bars::after, .burger-btn__bars::before {
  position: absolute;
  right: 0;
  height: 3px;
  content: "";
  background-color: #f5dfbb;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.burger-btn__bars {
  width: 100%;
}

.burger-btn__bars::after {
  top: 13px;
  width: 60%;
}

.burger-btn__bars::before {
  top: 27px;
  width: 30%;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.nav {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  background-color: #683413;
  z-index: 100;
}

.nav--active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav__item {
  position: relative;
  display: block;
  margin: 0.5rem 0;
  padding: 0.5rem 2rem;
  font-size: 2.8rem;
  color: white;
  text-decoration: none;
}

.nav__item::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  background-color: #f2542d;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  content: "";
}

.nav__item:hover::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

@-webkit-keyframes navItemsAnimation {
  from {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes navItemsAnimation {
  from {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.nav-items-animation {
  -webkit-animation: navItemsAnimation 1s both;
          animation: navItemsAnimation 1s both;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  height: 75vh;
  text-align: center;
  color: white;
  background-image: radial-gradient(circle at top right, rgba(49, 35, 4, 0.452) 0%, rgba(141, 139, 29, 0.055) 100%), url("../assets/img/header_640.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-attachment: scroll;
}

.header__heading {
  font-family: "Patrick Hand", cursive;
  font-size: 4.8rem;
  font-weight: 300;
}

.header__text {
  font-size: 1.6rem;
}

.header__btn {
  margin-top: 2rem;
  padding: 0.8rem 1.6rem;
  font-size: 1.4rem;
  background: #f5dfbb;
  border: none;
  border-radius: 8px;
  color: #683413;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.header__btn::before {
  background-color: white;
}

.coffee__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem 0;
}

.coffee__img {
  width: 100%;
  margin-bottom: 1rem;
}

.coffee__title {
  margin-bottom: 0.5rem;
}

.coffee__text {
  font-size: 1.4rem;
}

.hero-img {
  position: relative;
  padding: 10rem 2rem;
  background-image: radial-gradient(circle at top right, rgba(49, 35, 4, 0.452) 0%, rgba(141, 139, 29, 0.055) 100%), url("../assets/img/coffee_on_bed_640.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  color: white;
  overflow: hidden;
}

.hero-img__title {
  font-family: "Patrick Hand", cursive;
  font-size: 4.8rem;
  margin-bottom: 0.5rem;
}

.hero-img__text {
  padding: 1rem 0;
}

.world__card {
  position: relative;
  margin: 1rem 0;
  height: 450px;
  color: #683413;
  text-align: center;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.world__card:hover .world__card-img {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  opacity: 0;
}

.world__card:hover .world__card-info {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  opacity: 1;
}

.world__card-img {
  padding: 2rem;
  height: 100%;
  border-radius: 14px;
  background-size: cover;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
}

.world__card-img--first {
  background-image: radial-gradient(circle at top right, rgba(49, 35, 4, 0.452) 0%, rgba(141, 139, 29, 0.055) 100%), url("../assets/img/ethiopia_640.png");
}

.world__card-img--second {
  background-image: radial-gradient(circle at top right, rgba(49, 35, 4, 0.452) 0%, rgba(141, 139, 29, 0.055) 100%), url("../assets/img/peru_640.jpg");
}

.world__card-img--third {
  background-image: radial-gradient(circle at top right, rgba(49, 35, 4, 0.452) 0%, rgba(141, 139, 29, 0.055) 100%), url("../assets/img/brazil_640.png");
}

.world__card-img-title {
  font-family: "Patrick Hand", cursive;
  font-size: 2.8rem;
}

.world__card-img-info {
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-size: 1.8rem;
  color: white;
}

.world__card-img-info i {
  margin-right: 0.3rem;
}

.world__card-info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: radial-gradient(circle at top right, rgba(49, 35, 4, 0.452) 0%, rgba(141, 139, 29, 0.055) 100%);
  border-radius: 14px;
  opacity: 0;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
}

.world__card-info-title {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 1.2rem;
  font-family: '"Patrick Hand", cursive';
  font-size: 2.8rem;
}

.world__card-info-list {
  margin: 0 auto;
  width: 70%;
  list-style: none;
}

.world__card-info-list-item {
  padding: 1rem;
  font-size: 1.4rem;
  border-bottom: 1px solid white;
}

.world__card-info-list-item:last-child {
  border-bottom: none;
}

.world__card-info-btn {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 2rem;
  padding: 1rem;
  border-radius: 8px;
  width: 80%;
  border: none;
  background-color: lightgreen;
  cursor: pointer;
}

.world__card-info-btn::before {
  background-color: #87e287;
}

@media (min-width: 576px) {
  .coffee__box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .coffee__box-text {
    width: 55%;
  }
  .coffee__box-text--right {
    text-align: right;
  }
  .coffee__box-img {
    width: 40%;
  }
  .coffee__box-img--right {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .coffee__img {
    margin-bottom: 0;
    max-height: 300px;
  }
}

@media (min-width: 768px) {
  .white-block {
    height: 50px;
    width: 45%;
  }
  .header__heading {
    font-size: 6.6rem;
  }
  .header__text {
    font-size: 2.2rem;
  }
  .header__btn {
    font-size: 1.6rem;
  }
  .coffee__text {
    font-size: 1.8rem;
  }
  .hero-img {
    padding: 30rem 2rem;
  }
  .hero-img hr {
    margin: 0 auto;
    width: 70%;
  }
  .hero-img__text {
    font-size: 2.2rem;
  }
  .world__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .world__card {
    margin: 1rem;
    width: 45%;
  }
}

@media (min-width: 992px) {
  .burger-btn {
    top: 50px;
    right: 50px;
  }
  .header {
    background-image: radial-gradient(circle at top right, rgba(49, 35, 4, 0.452) 0%, rgba(141, 139, 29, 0.055) 100%), url("../assets/img/header_1920.jpg");
  }
  .header__heading {
    font-size: 10rem;
  }
  .nav__item {
    font-size: 4.8rem;
  }
  .coffee__box {
    margin: 5rem 0;
  }
  .coffee__box-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-bottom: 2.5rem;
  }
  .coffee__title {
    font-size: 3.3rem;
  }
  .coffee__text {
    font-size: 2.2rem;
  }
  .hero-img {
    padding: 40rem 2rem;
    background-image: radial-gradient(circle at top right, rgba(49, 35, 4, 0.452) 0%, rgba(141, 139, 29, 0.055) 100%), url("../assets/img/coffee_on_bed_1920.jpg");
  }
  .hero-img__title {
    font-size: 7.2rem;
  }
  .hero-img hr {
    width: 60%;
    max-width: 900px;
  }
}

@media (min-width: 1100px) {
  .world__card {
    width: 30%;
  }
}
/*# sourceMappingURL=style.css.map */